@charset "UTF-8";

div, h3, button, table, input, td, tr, th {
	padding: 0px;
	margin : 0px;
}

.cursorPoint{
	cursor: pointer;
}

h3:hover{
	color: silver;
}

.marginBottom{
	margin-bottom: 30px; 
}

.marginTop{
	margin-top: 30px; 
}


tdContent {
	padding: 20px 115px;
}

textarea {
	height: 200px;
}